<%- include('partials/header'); -%>
  <%if (success != ''){%>
<div style="margin-top: 30px;" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%=  success%></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%>

    <%if ( error != ''){%>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%=  error %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%>
<div class="container">


  <div class="row">
    <div style="margin-bottom: 10px;" id="" class="carousel slide col-lg-6 col-sm-6 col-6  " data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          
            <img  class="d-block img-fluid " src="https://i.imgur.com/fn0MO4j.png"
              alt="">
        </div>

      </div>
    </div>
    <div  id="carouselExampleIndicators" class="carousel slide col-lg-6 col-sm-6 col-6">
      <h4 id="evaluation_login" class="text-center"> Edit profile </h4>
      <h6 id="evaluation_dontHave" class="text-center">Only 1 input field can also be subbmited  </h6> 
      <form method="POST" action="/edit?_method=PUT" role="form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">Choose a image for profile</label>
            <input name="image" type="file" class="form-control">
            <button type="submit" class="btn  btn-success  ">Upload image</button>
  
          </div>
        </form>
        <form method="POST" action="/editName?_method=PUT" role="form">
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input name="firstName" type="text" id="form3Example1" class="form-control" />
                <label class="form-label"  for="form3Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input name="lastName" type="text" id="form3Example2" class="form-control" />
                <label class="form-label" for="form3Example2">Last name</label>
              </div>
            </div>
          </div>  
        <button type="submit" class="btn btn-block btn-success  ">Edit</button>
      
        </form>    
          

    </div>
  </div>


</div>



